<div class="rsvp-form-inner">
<%= bootstrap_form_for @guest, controller: "guests", url: {action: "rsvp"}, :html => {:class => ".form-group-sm"} do |f|%>



  <p class="alert"><%= alert %></p>
  <p>
  <%= f.text_field(:first_name, :class => "first_name input-sm", hide_label: true, :placeholder => "First Name") %>
  </p>
  <p>
  <%= f.text_field(:last_name, :class => "last_name", hide_label: true, :placeholder => "Last Name") %>
  </p>
  <p>
  <%= f.email_field(:email, :class => "email", hide_label: true, :placeholder => "Email Address") %>
  </p>
  <p>
  <%= f.submit("I'm coming!") %>
  </p>

<%end%>
</div>
