<div class="rsvp-form">
<div class="rsvp-form-inner">
<%= form_for @guest, controller: "guests", url: {action: "rsvp"}, class: "rsvp-form" do |f|%>



  <p>
  <%= f.text_field(:first_name, :class => "first_name", :placeholder => "First Name") %>
  </p>
  <p>
  <%= f.text_field(:last_name, :class => "last_name", :placeholder => "Last Name") %>
  </p>
  <p>
  <%= f.text_field(:zip, :class => "zip", :placeholder => "Zip Code") %>
  </p>
  <p>
  <%= f.check_box(:student) %>
  <%= f.label(:student, "Student?") %>
  </p>
  <p>
  <%= f.text_field(:email, :class => "email", :placeholder => "Email Address") %>
  </p>
  <p>
  <%= f.submit("I'm coming!") %>
  </p>

<%end%>
</div>
</div>
