<div class="rsvp-form">
<%= form_for @guest, controller: "guests", url: {action: "rsvp"}, class: "rsvp-form" do |f|%>

  <p>
  <%= f.label(:mit_student, "I am currently an MIT student") %>
  </p>
  <p>
  <%= f.radio_button(:student, "mit") %>
  </p>
  <p>
  <%= f.label(:student, "I am currently a student at a different college or university") %>
  </p>
  <p>
  <%= f.radio_button(:student, "student") %>
  </p>
  <p>
  <%= f.label(:student, "I am not currently a student.") %>
  </p>
  <p>
  <%= f.radio_button(:student, "other") %>
  </p>

  <p>
  <%= label_tag(:email, "Email Address") %>
  </p>
  <p>
  <%= f.text_field(:email) %>
  </p>
  <p>
  <%= f.submit("I'm coming!") %>
  </p>

<%end%>
</div>
