<!DOCTYPE html>
<html>
<head>
  <title>RSVP: Lil B at MIT!</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% favicon_link_tag 'lilbheadicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>

  <div class="header">
  <h1>Lil B Lecture at MIT!!!</h1>
  <h3>The first rapper to write and publish a book at age 19 is coming to MIT to give a highly anticipated lecture on Based Living.</h3>
  <br>
  <h3>Details</h3>
  <br>
  <img src="<%=asset_path('lilbhead.png')%>">
  <h4>First 300 to RSVP will get in, with preference to MIT students</h4>
  <h4>This event is completely FREE! We're spreading love and knowledge to the world!</h4>
  <h4>Friday, November 21 at 8PM</h4>
  <h4>MIT Stata Center.</h4>
  <h4>Room 32-123</h4>
  </div>

  <p class="alert"><%= alert %></p>
  <%= yield %>

</body>
</html>

