<!DOCTYPE html>
<html>
<head>
  <title>RSVP: Lil B at MIT!</title>


  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,400italic' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% favicon_link_tag 'lilbheadelegant_icon.jpg' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>

  <div class="header">


    <div class="main-text">
      <img class="header-text" src="<%=asset_path('lilbatmit_logo.png')%>"></img>
      <div class="bottom">
      <div class="inner-main-text">
        <p class="p1">Lil B "The Based God" is coming to MIT on 11/21/2014 for a guest lecture.
        RSVP below for a chance to be selected to attend the lecture.
        A confirmation email with the event specifics will be sent on 11/17/2014 if you are selected.
        </p>
        <p class="p2">
        Although we'd love to give everyone the chance to hear Lil B speak, we can only provide MIT students with tickets, with preference to undergraduates.
        For this reason, we will only count those RSVP's with an mit.edu email address.</p>
      <p class="p3">Contact lilbatmit@mit.edu with any questions or concerns</p>
      </div>
      <img class="sase-logo" src="<%=asset_path('sase.png')%>"></img>

      <%= yield %>
      </div>
    </div>



  </div>


</body>
</html>

